{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td scope="row">{{ transaction.symbol | upper }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>{{ transaction.price | usd }}</td>
                    <td>{{ transaction.time.strftime("%Y-%m-%d %H:%M:%S") }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}